/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin: 1%;
}

body {
  background-image: url(./assets/new-back-02.jpg);
  background-size: cover;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
