/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin: 1%;
}

.homeLogin {
  display: flex;
  justify-content: end;
}

.homeReg {
  display: flex;
  justify-content: center;
}

.pageContNoAuth {
  display: grid;
  grid-template-columns: 50% 50%;
}

.addBookCont {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 5%;
  color: white;
}

.addBookCont2 {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 5%;
  color: white;
}

.chooseLib {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
}

mat-card {
  margin-top: 10%;
  font-size: 40px;
  text-align: center;
  width: 200px;
  height: 150px;
}

.matButton {
  background-color: brown;
}

ul {
  color: white;
}

body {
  background-image: url(./assets/new-back-02.jpg);
  background-size: cover;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
